<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User Account</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        .input-wrapper input, .input-wrapper select {
            width: 100%; /* Adjust the width of the input box */
        }
    </style>
</head>
<body class="main-container">
    <div class="create-account-container">
        <h2>Create User Account</h2>

        <form method="POST" action="{% url 'create_user_account' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% if form.errors %}
                <div class="form-errors" style="margin-bottom: 20px;">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% for field in form %}
                <div class="form-group{% if field.errors %} has-error{% endif %}" style="margin-bottom: 20px;">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="textbox">
                <label class="label" for="role">Role</label>
                <div class="input-wrapper">
                    <select id="role" name="role" required>
                        <option value="businessman">Businessman</option>
                        <option value="data_analyst">Data Analyst</option>
                        <option value="content_creator">Content Creator</option>
                    </select>
                </div>
            </div>
            <div class="button-container">
                <button class="button" type="submit">Create Account</button>
            </div>
        </form>

        <a href="{% url 'login' %}" style="margin-top: 20px; display: inline-block;">Already have an Account? Login</a>

        {% if messages %}
            <div class="messages" style="margin-top: 20px;">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>
