<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="dashboard-container">
        <h2>Welcome to the Data Analyst Dashboard</h2>

        <nav>
            
            <a href="{% url 'view_data_analyst_accounts' %}">View User Accounts</a>
            <a href="{% url 'create_data_analyst_account' %}">Create Content Creator</a>
            <a href="{% url 'admin_logout' %}">Logout</a> 
        </nav>
    </div>
   
</body>
</html>
